x-service-backend-common: &service-backend-common
  image: hillelfastapi/shop-api:latest
  platform: linux/amd64
  restart: always
  env_file:
    - .env
  command: |
    sh -c "
    alembic upgrade head && \
    gunicorn main:app --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:12321 --workers 1
    "
  networks:
    - main_network
  labels:
    - "com.centurylinklabs.watchtower.enable=true"


services:

  backend1:
    <<: *service-backend-common
    container_name: backend1
    hostname: backend1
    ports:
      - "12345:12321"

  backend2:
    <<: *service-backend-common
    container_name: backend2
    hostname: backend2
    ports:
      - "12346:12321"

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    networks:
      - main_network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

  watchtower:
    # https://watchtower.nickfedor.com/v1.12.3/
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    env_file:
      - .env
    command: >
      --interval 15
      --cleanup
      --rolling-restart
      --label-enable
networks:
  main_network:
    driver: bridge